{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">EXISTING CUSTOMERS</h2>
            <hr>
            <p>By Creating an account with our website , You will be able to moves through the notes upload
                and downloading process and more....

            </p>
            <center><a href="{% url 'login' %}" class="btn btn-danger text-white  mt-5">LOGIN WITH US</a></center>

        </div>
        <div class="col-sm-6">
            <h2 class="text-center">REGISTER WITH US</h2>
            <hr>
            <p>If you have no an account with us , please signup</p>
            <form method="POST">
                {% csrf_token %}
                <label>FirstName</label>
                    <input type="text" class="form-control" placeholder="Enter FirstName" name="firstname"
                    pattern="[A-Za-z]{1,15}" title="Enter right name" required>
                <label>LastName</label>
                    <input type="text" class="form-control" placeholder="Enter LastName" name="lastname"
                    pattern="[A-Za-z]{1,15}" title="Enter right name" required>
                <label>Contact</label>
                    <input type="text" class="form-control" placeholder="Enter contact number" name="contact"
                    pattern="[0-9]{10}" title="Enter only 10 digit number" required>
                <label>Email Address</label>
                    <input type="email" class="form-control" placeholder="Enter EmailID" name="emailid"
                    required>
                <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
                <label >Branch</label>
                    <select class="form-control" name='branch'>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Mechanical">Mechanical</option>
                        <option value="Civil">Civil</option>
                        <option value="Electrical">Electrical</option>
                        <option value="Electronics">Electronics</option>
                    </select>
                <label >Are You</label>
                    <select class="form-control" name='role'>
                          <option value="Student">Student</option>
                           <option value="Teacher">Teacher</option>
                    </select>
                    
                <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
            </form>

        </div>
    </div>

</div>


{% ifequal error "no" %}
<script>
    alert('Signup Successfully');
    window.location = ('{% url 'login' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went wrong , Try again')
</script>
{% endifequal %}

{% endblock %}